footer {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	min-height: 10em;
	border-top: 1px solid #eee;
	background: #fff;

	html.dark & {
		border-color: #222;
		background: #111;
		color: #fff;
	}
}