@import "reset";
@import "header";

html {
	font-family: 'Roboto Mono', monospace;

	&.dark {
		background: #111;
		color: #fff;
	}
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
}

@media (max-width: 1000px) {
	.column {
		width: 100%;
	}
}

.pad {
	padding-right: 1.5em;
	padding-left: 1.5em;
	
	&:first-child {
		padding-left: 3em;
	}
	&:last-child {
		padding-right: 3em;
	}
}

footer {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	min-height: 10em;
	border-top: 1px solid #eee;
	background: #fff;

	html.dark & {
		border-color: #222;
		background: #111;
		color: #fff;
	}
}



@import "main/index";