@import "reset";

html {
	font-family: 'Sen', 'Roboto Mono', monospace;

	// line-height: 1.6;
	// color: #003B4A;

	&.dark {
		background: #111;
		color: #fff;
	}
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
}

@media (max-width: 1000px) {
	.column {
		width: 100%;
	}
}

.pad {
	padding-right: 1.5em;
	padding-left: 1.5em;
	
	&:first-child {
		padding-left: 3em;
	}
	&:last-child {
		padding-right: 3em;
	}
}


@import "header";
@import "main/index";
@import "footer";